<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- MY Sql Data base property -->

	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/collage" />
		<property name="username" value="root" />
		<property name="password" value="9928" />
	</bean>

	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg name="dataSource" ref="ds" />
	</bean>
	
	<bean id="bookDao" class="in.nilu.dao.BookDaoImpl">
		<property name="jdbcTemplate" ref="jt"/>
	</bean>
	
	<bean id="bookService" class="in.nilu.service.BookServiceImpl">
		<property name="bookDao" ref="bookDao"/>
	</bean>
	
</beans>









